<template>
  <PageContainer>
    <DrawingBoard ref="childCanvas" class="fill-height canvas" canvas-id="canvas-one" />
    <div class="mt-5 header d-flex justify-center align-center" :style="headerStyle">
      <div
        v-click-outside="touchOutside"
        class="position-relative d-flex flex-column bg-white pa-5 align-center"
        @click="writing = false"
        @mouseenter="config.visibleCursor = false"
        @mouseleave="config.visibleCursor = true"
      >
        <span class="draft-font justify-center" style="margin: auto">Playground</span>
        <img src="/img/separator.svg" alt="{" style="width: 130px" />
      </div>
    </div>
    <img
      v-if="config.visibleCursor"
      ref="point"
      src="/img/cursor.svg"
      alt="{"
      class="ma-0 pa-0 cursor"
      :style="cursorPoint"
    />
  </PageContainer>
</template>

<script setup>
  import DrawingBoard from "@/common/components/DrawingBoard.vue";
  import PageContainer from "@/common/components/PageContainer.vue";
  import {computed, nextTick, onBeforeUnmount, onMounted, reactive, ref} from "vue";

  nextTick(() => {
    document.title = "Playground";
  });

  const writing = ref(false);

  const config = reactive({
    visibleCursor: true,
    myMouseX: 0,
    myMouseY: 0,
  });

  const cursorPoint = computed(() => {
    return `transform: translateX(${config.myMouseX - 3}px) translateY(${
      config.myMouseY - 3
    }px) translateZ(0) translate3d(0, 0, 0);`;
  });

  const headerStyle = computed(() => {
    return {
      height: writing.value ? "0" : "100%",
    };
  });

  onMounted(() => {
    document.addEventListener("mousemove", moveCursor);
    document.addEventListener("touchmove", touchMove);
    document.addEventListener("mousedown", startWriting);
    document.addEventListener("touchstart", startTouching);
    document.addEventListener("touchend", endTouching);
  });

  const touchOutside = () => {
    writing.value = true;
  };

  const moveCursor = (e) => {
    config.myMouseX = e.clientX;
    config.myMouseY = e.clientY;
  };

  const touchMove = (e) => {
    config.myMouseX = e.touches[0].clientX;
    config.myMouseY = e.touches[0].clientY;
  };

  const startWriting = () => {
    writing.value = true;
  };

  const startTouching = () => {
    config.visibleCursor = true;
    writing.value = true;
  };

  const endTouching = () => {
    config.visibleCursor = false;
  };

  onBeforeUnmount(() => {
    document.removeEventListener("mousemove", moveCursor);
    document.removeEventListener("touchmove", touchMove);
    document.removeEventListener("mousedown", startWriting);
    document.removeEventListener("touchstart", startTouching);
    document.removeEventListener("touchend", endTouching);
  });
</script>

<style scoped>
  .header {
    transition: all 1s;
  }

  .cursor {
    transition: none !important;
    transition-duration: 0s !important;
    pointer-events: none;
    position: absolute !important;
    top: -32px;
    left: 3px;
    user-select: none;
    z-index: 55555555;
    backface-visibility: hidden;
    will-change: transform;
  }

  .canvas {
    position: absolute !important;
    width: 100%;
  }
</style>
