<template>
  <div class="mt-2">
    <v-carousel height="50" hide-delimiters show-arrows>
      <template #prev>
        <v-btn icon="fa:fas fa-arrow-left" />
      </template>
      <template #next>
        <v-btn icon="fa:fas fa-arrow-right" />
      </template>
      <v-carousel-item v-for="(message, i) in msg" :key="i">
        <div class="d-flex justify-center align-center">
          <v-sheet class="mt-5 text-h5 text-grey">"{{ message }}"</v-sheet>
        </div>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script setup>
  import {reactive} from "vue";

  const msg = reactive([
    "Best group of games in Dubai",
    "Thanks for make our Tuesdays more lively",
    "Best group of games in Dubai",
    "Thanks for make our Tuesdays more lively",
    "Best group of games in Dubai",
    "Thanks for make our Tuesdays more lively",
  ]);
</script>
