<template>
  <div class="d-flex my-auto">
    <v-icon>mdi-chevron-left</v-icon>
  </div>
  <div class="no-scroll" style="overflow: scroll">
    <div v-for="(game, i) in games" :key="i" class="d-flex mx-1">
      <v-card class="rounded" height="180" style="cursor: unset" width="150">
        <v-img
          :lazy-src="'/img/games/defaultImage.png'"
          :src="game.imageUrl ? '/img/games/' + game.imageUrl : '/img/games/defaultImage.png'"
          contain
        >
        </v-img>
        <v-btn
          class="white rounded"
          outlined
          style="position: absolute; bottom: 0; width: 100%; opacity: 50%"
          >&nbsp;
        </v-btn>
        <v-btn
          class="text-center rounded"
          outlined
          style="position: absolute; bottom: 0; width: 100%; border: 0"
          @click="$router.push(`/games/${game.title.toLowerCase()}`)"
        >
          {{ game.title }}
        </v-btn>
      </v-card>
    </div>
  </div>
  <div class="d-flex my-auto">
    <v-icon>mdi-chevron-right</v-icon>
  </div>
</template>

<script setup>
  import {useGamesStore} from "@/store";

  const {games} = useGamesStore();
</script>

<style scoped>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
