<template>
  <v-hover v-slot="{isHovering, props}" class="mx-2">
    <v-card v-bind="props" :elevation="isHovering ? 16 : 2" class="rounded" to="/gameplan/gallery">
      <v-img contain src="img/gamesPile.png">
        <v-overlay :value="!isHovering" absolute>
          <v-card-title>Gallery</v-card-title>
        </v-overlay>
      </v-img>
    </v-card>
  </v-hover>
</template>
