<template>
  <div v-if="isAuthenticated">
    <v-btn variant="text">
      {{ user.name || user.nickname }}
      <v-menu activator="parent">
        <v-list>
          <v-list-item v-if="isAdmin">
            <v-list-item-title>
              <v-btn variant="text" to="/gameplan/admin">Admin page</v-btn>
            </v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-btn variant="text" @click="logout()">Logout</v-btn>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-btn>
  </div>
  <div v-else>
    <v-btn size="small" color="blue" @click="login()">Login</v-btn>
  </div>
</template>

<script setup>
  import {useAuthentication} from "@/services/authService";

  const {user, isAuthenticated, isAdmin, login, logout} = useAuthentication();
</script>
