<template>
  <v-row class="text-center mx-6 pa-4" no-gutters style="margin-top: -52px">
    <v-col v-for="(btn, i) in socialButtons" :key="i" cols="4">
      <span style="border: solid 16px #7dcdd0; border-radius: 52px" class="px-0 py-2">
        <v-btn rounded :color="btn.color" :href="btn.link" :icon="btn.icon" />
      </span>
    </v-col>
  </v-row>
</template>

<script setup>
  const socialButtons = [
    {
      link: "https://www.instagram.com/bgameplan",
      color: "pink",
      icon: "mdi-instagram",
    },
    {
      link: "https://www.meetup.com/es-ES/meet-chill-and-boardgames/?_xtd=gqFyqTE3ODc2MDg2MqFwp2FuZHJvaWQ&from=ref",
      color: "red",
      icon: "fa:fab fa-meetup",
    },
    {
      link: "https://chat.whatsapp.com/F76WDXQfR4SGHA0kf650qR",
      color: "green",
      icon: "fa:fab fa-whatsapp",
    },
  ];
</script>
