<template>
  <PageContainer>
    This is a summary of the components and practices used to design RGApps
    <h1>PageContainer</h1>
    Creates a page with the RGApps link and default margins
    <h1>Floating</h1>
    Is a component that allows to put floating objects positioned as a percentage of the page
    <h1>SVG Images</h1>
    Icons and most of rounded styles are to be done using SVG which is faster and resolution
    sensitive when compared to other image formats
    <br />

    <Floating class="bg-red"> Floating always centered in the page with default values </Floating>
    <Floating w="100px" class="bg-green">
      Floating always centered in the page with fixed width of 100px
    </Floating>
    <Floating w="100px" h="150px" x="90" y="10" class="bg-green">
      Floating on coordinates 90,10. Notice that point is the center of the box!
    </Floating>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/common/components/PageContainer.vue";
  import Floating from "@/common/components/FloatingContainer.vue";
</script>
