<template>
  <div class="d-flex justify-center align-center position-absolute w-100 h-100 bg-grey-lighten-2">
    <v-progress-circular :size="70" :color="color" indeterminate />
  </div>
</template>

<script setup>
  defineProps({
    color: {
      type: String,
      default: "blue",
    },
  });
</script>
