<template>
  <PageContainer>
    <FloatingContainer w="95%" h="95%">
      <v-row class="text-center">
        <v-col cols="12">
          <span
            class="draft-font"
            style="display: flex; font-size: 40px; font-variant: small-caps; flex-direction: column"
          >
            <span style="margin: auto"> Wilson Guevara </span>
          </span>
        </v-col>
        <v-col cols="12" class="ma-2" style="font-size: 14px">
          Software developer with over 10 years of experience.
          <br />
          Curious traveler finding a proper life-work balance.
        </v-col>
      </v-row>
      <v-row class="text-center" style="max-height: 70%; overflow: scroll">
        <v-col cols="12" class="draft-font">
          <div
            style="
              background-image: url('/img/yingyang.svg');
              width: 100%;
              height: 100%;
              float: left;
              background-size: auto 100%;
              opacity: 0.5;
              background-position-x: center;
              margin-right: -100%;
            "
          />
          <div style="position: relative">
            <v-row>
              <v-col>
                <v-row>
                  <v-col cols="12">Professional</v-col>
                  <v-col v-for="(item, i) in professional" :key="i" cols="12">
                    <span
                      class="text-right font-italic text-blue"
                      style="font-size: 14px; margin: 0 5px 0 0; cursor: pointer"
                      @click="item.action"
                    >
                      {{ item.name }}
                    </span>
                  </v-col>
                </v-row>
              </v-col>
              <v-col>
                <v-row>
                  <v-col cols="12">Personal</v-col>
                  <v-col v-for="(project, i) in personal" :key="i" cols="12">
                    <span
                      class="text-left font-italic text-grey text-decoration-line-through"
                      style="font-size: 14px; margin: 0 5px 0 0"
                    >
                      {{ project.name }}
                    </span>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" sm="12" class="draft-font">
          <v-row>
            <v-col cols="12">Projects</v-col>
            <v-col v-for="(project, i) in projects" :key="i" cols="12">
              <span
                class="text-right font-italic text-blue"
                style="font-size: 14px; margin: 0 5px 0 0; cursor: pointer"
                @click="project.action"
              >
                {{ project.name }}
              </span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </FloatingContainer>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/common/components/PageContainer.vue";
  import FloatingContainer from "@/common/components/FloatingContainer.vue";
  import router from "@/pages/router";
  import {reactive} from "vue";

  const gotoLinkedIn = () => {
    window.open("https://www.linkedin.com/in/wilsonr990/", "_blank").focus();
  };

  const gotoPlayground = () => {
    router.push("/playground");
  };

  const gotoPageDesign = () => {
    router.push("/design");
  };

  const downloadResume = () => {
    window.open("files/UpdatedResume1P.pdf", "_blank").focus();
  };

  const gotoDesktopProfile = () => {
    window.location = "https://desktop.rgapps.site";
  };

  const gotoGamePlan = () => {
    router.push("/gameplan");
  };

  const gotoTuPrimero = () => {
    window.location = "https://tuprimero.rgapps.site";
  };

  const projects = reactive([
    {
      name: "Desktop",
      action: gotoDesktopProfile,
    },
    {
      name: "GamePlan",
      action: gotoGamePlan,
    },
    {
      name: "Playground",
      action: gotoPlayground,
    },
    {
      name: "Page design",
      action: gotoPageDesign,
    },
    {
      name: "Tú Primero",
      action: gotoTuPrimero,
    },
  ]);

  const professional = reactive([
    {
      name: "Linkedin",
      action: gotoLinkedIn,
    },
    {
      name: "Resume",
      action: downloadResume,
    },
  ]);

  const personal = reactive([
    {
      name: "Trips",
    },
    {
      name: "Languages",
    },
    {
      name: "Boardgames",
    },
  ]);
</script>
