<template>
  <v-dialog
    v-model="showingShoppingCart"
    max-width="600"
    scrollable
    transition="dialog-top-transition"
  >
    <v-card>
      <v-card-title>Your cart</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-list v-if="cartInformation.products > 0">
          <v-list-item v-for="(product, key) in shoppingCart" :key="key">
            <v-card class="my-2" color="orange lighten-4" width="100%">
              <div class="d-flex flex-no-wrap justify-space-between">
                <div>
                  <!-- eslint-disable vue/no-v-text-v-html-on-component -->
                  <v-card-title class="text-h5" v-text="product.name"></v-card-title>
                  <v-card-subtitle>${{ product.price }} AED</v-card-subtitle>
                  <v-card-actions>
                    <v-btn
                      class="ml-2 mt-5 white--text"
                      color="red"
                      icon
                      small
                      @click="removeProduct({product, all: true})"
                    >
                      <v-icon> mdi-delete </v-icon>
                    </v-btn>
                    <v-btn
                      class="ml-2 mt-5 white--text"
                      color="blue"
                      icon
                      small
                      @click="removeProduct({product, all: false})"
                    >
                      <v-icon> mdi-minus </v-icon>
                    </v-btn>
                    <span class="ml-2 mt-5">{{ product.quantity }}</span>
                    <v-btn
                      class="ml-2 mt-5 white--text"
                      color="blue"
                      icon
                      small
                      @click="addProduct(product)"
                    >
                      <v-icon> mdi-plus </v-icon>
                    </v-btn>
                  </v-card-actions>
                </div>
                <v-avatar class="ma-3" size="125" tile>
                  <v-img :src="`/img/games/${product.image}`" contain></v-img>
                </v-avatar>
              </div>
            </v-card>
          </v-list-item>
        </v-list>
        <h4 v-else class="text-h4 mt-2">You have no products in the cart yet</h4>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="blue darken-1" text @click="toggleCart">Close</v-btn>
        <v-btn
          :disabled="cartInformation.products === 0"
          color="orange darken-1"
          text
          @click="toggleCart"
          >Pay
        </v-btn>
        <v-spacer></v-spacer>
        <span class="font-weight-black">Total: ${{ cartInformation.price }} AED</span>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup>
  import {useShoppingStore} from "@/store";

  const {
    showingShoppingCart,
    cartInformation,
    shoppingCart,
    toggleCart,
    addProduct,
    removeProduct,
  } = useShoppingStore();
</script>
