<template>
  <div class="text-h4">Games</div>
  <v-list class="overflow-y-auto" max-height="250">
    <v-list-item v-for="(game, i) in games" :key="i">
      <v-card flat width="100%">
        <v-list-item-title>
          {{ game.title ? game.title : game.id }}
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ game.imageUrl }}
        </v-list-item-subtitle>
        <v-card-actions>
          <v-btn color="red" icon @click="deleteGame(game.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          <v-btn color="blue" icon="mdi-pen" @click="editGame(game)" />
        </v-card-actions>
      </v-card>
    </v-list-item>
  </v-list>
</template>

<script setup>
  import gamesService from "@/services/gameService";
  import {useGamesStore} from "@/store";

  const {games, editGame} = useGamesStore();

  const deleteGame = async (id) => {
    let token = "";
    await gamesService.deleteGame(id, token);
  };
</script>
