<template>
  <v-row align="center" class="ma-1" justify="center">
    <v-col cols="4">
      <router-link to="/gameplan">
        <v-img contain src="/img/logos/logo_h.png"></v-img>
      </router-link>
    </v-col>
    <v-col class="text-center" cols="4"> </v-col>
    <v-col cols="4" style="display: flex; justify-content: end">
      <LoginButton></LoginButton>
    </v-col>
  </v-row>
</template>

<script setup>
  import LoginButton from "@/components/gameplan/buttons/LoginButton.vue";

  defineProps({
    store: Boolean,
  });
</script>
