@use "vuetify" with (
  $heading-font-family: "RubikSpray"
);

@font-face {
  font-family: "RubikSpray";
  font-style: normal;
  src: local("RubikSpray"),
    url("@/assets/fonts/gameplan/RubikSprayPaint-Regular.woff") format("woff");
}
