<template>
  <PageContainer disable-footer disable-contact-button disable-navigation-forced>
    <FloatingContainer>
      <v-row>
        <v-col cols="12">
          <div class="draft-font">Welcome to</div>
          <span
            class="draft-font"
            style="display: flex; flex-direction: column; font-size: 90px; font-variant: small-caps"
          >
            <span style="margin: auto">RGApps</span>
            <img src="/img/separator.svg" alt="{" style="width: 280px; margin: -20px auto auto" />
          </span>
        </v-col>
        <v-col cols="12" class="text-left">
          <SvgFrame image="img/bracket.svg">
            <div class="font-weight-bold mb-3 text-uppercase">Purpose:</div>
            <span class="draft-font">-</span>
            <span>Improve/practice my capabilities as a developer</span>
            <br />
            <b class="draft-font">-</b>
            Expose my profile to increase networking
            <br />
            <b class="draft-font">-</b>
            Organize information about my projects and interests
          </SvgFrame>
        </v-col>
        <v-col cols="12" class="px-12" style="cursor: pointer" @click="goToProfile">
          <div
            class="button-animation"
            style="
              background-image: url('/img/arrow.svg');
              width: 100px;
              height: 100%;
              margin-top: 3px;
              float: right;
              background-size: 100% 100%;
            "
          ></div>
          <div class="text-right font-italic" style="font-size: 14px; margin: 0 5px 0 0">
            Creator
          </div>
        </v-col>
      </v-row>
    </FloatingContainer>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/common/components/PageContainer.vue";
  import FloatingContainer from "@/common/components/FloatingContainer.vue";
  import SvgFrame from "@/common/components/SvgFrame.vue";
  import {useRouter} from "vue-router";
  import {nextTick} from "vue";

  nextTick(() => {
    document.title = "RGApps";
  });

  const router = useRouter();

  const goToProfile = () => {
    router.push("/wilsonr990");
  };
</script>
