<template>
  <div v-if="showBtn" class="position-fixed contact-btn mb-16 pa-2">
    <v-btn class="ma-2" to="/contact" color="#C2A8F0" rounded>
      <v-icon icon="mdi-phone"></v-icon>
      <v-tooltip activator="parent" location="start">Contact us</v-tooltip>
    </v-btn>
  </div>
</template>

<script setup>
  import {useRoute} from "vue-router";
  import {computed} from "vue";

  const route = useRoute();

  const ignoredRoutes = ["contact", "admin"];

  const showBtn = computed(() => !ignoredRoutes.includes(route.name));
</script>

<style>
  .contact-btn {
    bottom: 0;
    right: 0;
    z-index: 150;
  }
</style>
