<template>
  <div style="position: fixed; left: 0">
    <canvas :id="canvasId" class="canvas-style" @mousedown="mouseDown" @touchstart="mouseDown" />
  </div>
</template>

<script setup>
  import paper from "paper";
  import {onBeforeMount, onMounted, reactive} from "vue";

  const props = defineProps({
    canvasId: {
      type: String,
      required: true,
    },
  });

  const config = reactive({
    path: null,
    scope: null,
    tools: [],
    paths: [],
    timeouts: [],
    timeToClean: 10000,
  });

  onBeforeMount(() => {
    window.addEventListener("resize", onResize);
  });

  onMounted(() => {
    config.scope = new paper.PaperScope();
    config.scope.setup(props.canvasId);
  });

  const reset = () => {
    config.scope.project.activeLayer.removeChildren();
  };

  const pathCreate = (scope) => {
    scope.activate();
    return new paper.Path({
      strokeColor: "black",
      strokeJoin: "round",
      strokeWidth: 2,
    });
  };

  const createTool = (scope) => {
    scope.activate();
    return new paper.Tool();
  };

  const onResize = () => {
    reset();
    config.scope = new paper.PaperScope();
    config.scope.setup(config.canvasId);
    let oldTools = config.tools;
    let oldPaths = config.paths;

    // in order to access functions in nested tool
    config.tools = [];
    config.paths = [];

    config.timeouts.forEach((t) => clearTimeout(t));

    // eslint-disable-next-line no-unused-vars
    for (const item of oldTools) {
      let tool = createTool(config.scope);
      config.tools.push(tool);
      let toolId = config.paths.length;
      // init path
      let items = pathCreate(config.scope);
      config.paths.push(items);
      oldPaths[toolId].segments.forEach((s) => {
        let added = config.paths[toolId].add(s);
        config.timeouts.push(
          setTimeout(() => config.paths[toolId].removeSegment(added.index), config.timeToClean)
        );
      });
      tool.remove();
    }
  };

  const mouseDown = () => {
    // create drawing tool
    config.tools.push(createTool(config.scope));
    let toolId = config.paths.length;

    config.tools[toolId].onMouseDown = (event) => {
      // init path
      let items = pathCreate(config.scope);
      config.paths.push(items);
      // add point to path
      let added = config.paths[toolId].add(event.point);
      config.timeouts.push(
        setTimeout(() => config.paths[toolId].removeSegment(added.index), config.timeToClean)
      );
    };
    config.tools[toolId].onMouseDrag = (event) => {
      let added = config.paths[toolId].add(event);
      config.timeouts.push(
        setTimeout(() => config.paths[toolId].removeSegment(added.index), config.timeToClean)
      );
    };
    config.tools[toolId].onMouseUp = (event) => {
      // line completed
      let added = config.paths[toolId].add(event.point);
      config.timeouts.push(
        setTimeout(() => config.paths[toolId].removeSegment(added.index), config.timeToClean)
      );
      config.tools[toolId].remove();
    };
  };
</script>

<style scoped>
  .canvas-style {
    cursor: none;
    width: 100% !important;
    height: 100% !important;
    display: block;
    margin: auto;
  }
</style>
