<template>
  <v-text-field
    v-model="userSearch"
    clearable
    placeholder="Search"
    prepend-inner-icon="mdi-magnify"
    variant="filled"
    @keyup.enter="addFilter"
  />
  <v-chip
    v-for="(filter, i) in savedFilters"
    :key="i"
    closable
    class="mx-1"
    @click:close="removeFilter(filter)"
  >
    {{ filter }}
  </v-chip>
  <div>{{ groupedData.length }}</div>
  <div v-for="(items, group) in groupedData" :key="group">
    <div class="d-flex align-center">
      <div class="text-h4 mt-3">{{ groupString(group) }}</div>
      <v-spacer />
      <slot name="group-element" :group="group" />
    </div>
    <v-divider color="grey-lighten-1" />
    <v-row>
      <v-col
        v-for="(item, j) in items"
        :key="j"
        class="my-2 d-flex flex-column"
        cols="6"
        lg="2"
        md="3"
        sm="4"
      >
        <slot name="item-renderer" :element="item" />
      </v-col>
    </v-row>
  </div>
  <div
    v-if="filteredData && filteredData.length === 0"
    class="w-100 fill-height d-flex flex-column justify-center align-center"
  >
    <div class="text-h3">No data found</div>
  </div>
</template>

<script setup>
  import {computed, onBeforeMount, ref} from "vue";
  import {useRoute} from "vue-router";
  import {useRouter} from "vue-router/dist/vue-router";
  import pluralize from "pluralize";
  import {groupBy} from "lodash";

  const props = defineProps({
    data: {
      type: Array,
      required: true,
    },
    groupBy: {
      type: String,
      required: true,
    },
  });

  const userSearch = ref("");
  const savedFilters = ref([]);

  const activeFilters = computed(() => {
    const trimmedSearch = userSearch.value.trim();
    return trimmedSearch === "" ? savedFilters.value : [trimmedSearch, ...savedFilters.value];
  });

  const filteredData = computed(() => {
    if (activeFilters.value.length === 0) return props.data;

    return props.data.filter((item) =>
      activeFilters.value.every(
        (filter) =>
          item.title.toLowerCase().includes(filter.toLowerCase()) ||
          item[props.groupBy].toLowerCase().includes(filter.toLowerCase())
      )
    );
  });

  const groupedData = computed(() => groupBy(filteredData.value, props.groupBy));

  const groupString = (group) => pluralize(group);

  const route = useRoute();
  const router = useRouter();

  onBeforeMount(() => {
    const required = route.query.q ? route.query.q.split(",") : [];
    savedFilters.value.push(...required);
    router.push(route.path);
  });

  const addFilter = () => {
    savedFilters.value = [...activeFilters.value];
    userSearch.value = "";
  };

  const removeFilter = (filter) => {
    const index = savedFilters.value.findIndex((f) => f === filter);
    savedFilters.value.splice(index, 1);
  };
</script>
