<template>
  <v-app-bar :elevation="2" :height="mdAndUp ? 80 : 50" class="position-static" color="#FFC0CB">
    <v-container class="d-flex align-center h-100 pa-0">
      <v-col cols="6" md="4" class="d-flex align-center justify-start h-100 pa-0 ma-0">
        <v-btn
          v-if="navigation.length > 0"
          class="d-md-none"
          :icon="displaySecondaryBar ? 'mdi-close' : 'mdi-menu'"
          @click="secondaryBar.requested = !secondaryBar.requested"
        />
        <img alt="logo" src="/logo-md.svg" class="img" @click="router.push('/')" />
      </v-col>
      <v-col cols="0" md="4" class="d-none d-md-flex justify-center">
        <div class="d-flex align-center">
          <v-btn
            v-for="(button, i) in props.navigation"
            :key="i"
            :to="button.to"
            class="menu-btn"
            variant="plain"
            >{{ button.text }}</v-btn
          >
        </div>
      </v-col>
      <v-col v-if="props.links.length !== 0" cols="6" md="4" class="d-flex justify-end">
        <v-btn
          v-for="(social, i) in links"
          :key="i"
          :color="social.color"
          :href="social.link"
          :icon="social.icon"
          class="social-link"
          target="_blank"
        />
      </v-col>
    </v-container>
  </v-app-bar>
  <v-toolbar
    v-if="displaySecondaryBar && navigation.length > 0"
    color="#CCCAD8"
    class="position-sticky"
    density="compact"
    :style="{top: 0, zIndex: 100}"
  >
    <v-container class="d-flex align-center justify-center" style="gap: 0">
      <v-btn
        v-for="(button, i) in navigation"
        :key="i"
        :to="button.to"
        class="menu-btn"
        variant="plain"
        >{{ button.text }}</v-btn
      >
    </v-container>
  </v-toolbar>
</template>

<script setup>
  import {useDisplay} from "vuetify";
  import {useRouter} from "vue-router";
  import {computed, onBeforeUnmount, onMounted, reactive} from "vue";

  const props = defineProps({
    navigation: {
      type: Array,
      required: true,
    },
    links: {
      type: Array,
      default: () => [],
    },
  });

  const {mdAndUp} = useDisplay();

  const router = useRouter();

  const secondaryBar = reactive({show: false, requested: false});

  const displaySecondaryBar = computed(() => secondaryBar.show || secondaryBar.requested);

  const isAtTop = () => {
    const scrollTop = document.documentElement.scrollTop;

    secondaryBar.show = scrollTop > 50 && mdAndUp.value === false;
  };

  onMounted(() => window.addEventListener("scroll", isAtTop));

  onBeforeUnmount(() => window.removeEventListener("scroll", isAtTop));
</script>

<style scoped>
  .img {
    cursor: pointer;
    max-height: 100%;
  }

  .social-link:hover {
    animation: shake 1s;
  }

  .menu-btn:hover {
    animation: popup 0.5s;
  }
</style>
