<template>
  <NavigationBar v-if="withNavigation" :navigation="userNavigation" :links="socialLinks" />
  <slot v-if="!container" />
  <v-container v-else class="fill-height">
    <slot />
  </v-container>
  <ContactButton v-if="!disableContactButton" />
  <RGAppsFooter v-if="!disableFooter" />
</template>

<script setup>
  import RGAppsFooter from "./RGAppsFooter.vue";
  import ContactButton from "./ContactButton.vue";
  import NavigationBar from "./NavigationBar.vue";
  import {computed, onMounted, ref} from "vue";
  import {useRoute} from "vue-router";
  import {keys} from "lodash";

  const props = defineProps({
    container: {
      type: Boolean,
      default: true,
    },
    disableFooter: {
      type: Boolean,
      default: false,
    },
    disableContactButton: {
      type: Boolean,
      default: false,
    },
    disableNavigationForced: {
      type: Boolean,
      default: false,
    },
  });

  const userNavigation = ref([]);
  const socialLinks = ref([]);

  const withNavigation = computed(
    () =>
      !props.disableNavigationForced &&
      (userNavigation.value.length !== 0 || socialLinks.value.length !== 0)
  );

  const route = useRoute();

  // pathExpression is a path expression in the form `path/**/test/**/*`
  // and would match paths like `path/something/test/other/test`
  const pathExpMatches = (pathExpression, path) =>
    new RegExp(
      "^" + pathExpression.replace("**", "[a-zA-z/]+").replace("/*", "/?*").replace("*", ".*") + "$"
    ).test(path);

  const firstKeyMatchingPath = (object, path) => {
    let matches = keys(object).filter((key) => pathExpMatches(key, path));
    return matches.length > 0 ? matches[0] : null;
  };

  onMounted(() => {
    if (!props.disableNavigationForced) {
      import("@/menu-navigation")
        .then((it) => {
          let navKey = firstKeyMatchingPath(it.userNavigation, route.path);
          let socialKey = firstKeyMatchingPath(it.socialLinks, route.path);
          userNavigation.value = navKey ? it.userNavigation[navKey] : [];
          socialLinks.value = socialKey ? it.socialLinks[socialKey] : [];
        })
        .catch((e) => console.info("no menu-navigation defined", e));
    }
  });
</script>
