<template>
  <v-footer class="bg-grey-darken-4" style="max-height: 100px">
    <v-container>
      <div class="text-center">
        © 2022 Tú Primero, All rights reserved | Created by
        <a class="rgapps" href="https://rgapps.site" target="_blank">RGApps</a>
      </div>
    </v-container>
  </v-footer>
</template>

<style scoped>
  .rgapps {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: DraftFont, sans-serif;
  }

  .rgapps:hover {
    font-weight: bold;
  }
</style>
