<template>
  <v-form>
    <span class="text-h4">Add new game</span>
    <v-text-field v-model="form.title" label="Game title" required></v-text-field>
    <v-text-field v-model="form.imageUrl" label="Game image url" required></v-text-field>
    <v-btn color="primary" @click="addGame"> Submit </v-btn>
  </v-form>
</template>

<script setup>
  import gamesService from "@/services/gameService";
  import {reactive} from "vue";

  const form = reactive({
    title: "",
    imageUrl: "",
  });

  const addGame = async () => {
    const game = {
      title: form.title,
      imageUrl: form.imageUrl,
    };

    //TODO: Create authentication hook
    const token = "";
    await gamesService.addGame(game, token);
    clear();
  };

  const clear = () => {
    form.imageUrl = "";
    form.title = "";
  };
</script>
