<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">Edit Game</span>
    </v-card-title>
    <v-card-text>
      <PageContainer>
        <v-row>
          <v-col cols="12">
            <v-text-field v-model="title" label="Game title"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field v-model="imageUrl" label="Game image url"></v-text-field>
          </v-col>
        </v-row>
      </PageContainer>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="close"> Close </v-btn>
      <v-btn color="blue darken-1" text @click="update"> Save </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup>
  import {reactive} from "vue";
  import gamesService from "@/services/gameService";
  import PageContainer from "@/common/components/PageContainer.vue";

  const {title, imageUrl} = reactive({
    title: "",
    imageUrl: "",
  });

  const close = () => {};

  const update = async () => {
    const game = {
      title: "",
      imageUrl: "",
      id: "",
    };

    let token = "";

    await gamesService.updateGame(game.id, game, token);
  };
</script>
