@use "vuetify" with (
  $body-font-family: "Calibri"
);

@font-face {
  font-family: "DraftFont";
  font-weight: 400;
  font-style: normal;
  src: local("DraftFont"), url("./assets/fonts/DraftFont.woff") format("woff");
}

@font-face {
  font-family: "Calibri";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Calibri"),
    url("./assets/fonts/CalibriRegular.woff") format("woff");
}

.draft-font {
  font-family: DraftFont, sans-serif;
  font-synthesis: small-caps;
}

.button-animation {
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  animation-name: arrow-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrow-move {
  0% {
    left: 0;
  }
  100% {
    left: 20px;
  }
}
