<template>
  <PageContainer>
    <div class="text-h2 my-5 text-center">About Us</div>
    <v-sheet class="w-100 pa-2 mx-auto" color="#f2f2f2" max-width="600">
      <div class="text-h6">GAME PLAN description!</div>
    </v-sheet>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/common/components/PageContainer.vue";
</script>
