<template>
  <PageContainer>
    <v-row>
      <v-col cols="6">
        <AddGameForm></AddGameForm>
      </v-col>
      <v-col cols="6">
        <Games></Games>
      </v-col>
    </v-row>
    <v-dialog v-model="editingGame.state" max-width="600" transition="dialog-bottom-transition">
      <EditGameForm></EditGameForm>
    </v-dialog>
  </PageContainer>
</template>

<script setup>
  import Games from "@/components/gameplan/GameList.vue";
  import EditGameForm from "@/components/gameplan/forms/EditGameForm.vue";
  import AddGameForm from "@/components/gameplan/forms/AddGameForm.vue";
  import PageContainer from "@/common/components/PageContainer.vue";
  import {useGamesStore} from "@/store";

  const {editingGame} = useGamesStore();
</script>
