<template>
  <PageContainer>
    <HeaderComponent></HeaderComponent>
    <v-row>
      <v-col
        v-for="(image, key) in images"
        :key="key"
        class="d-flex"
        cols="12"
        lg="3"
        md="4"
        sm="6"
      >
        <v-img :src="`/img/gallery/${image.url}`" aspect-ratio="1" class="grey lighten-2">
          <template #placeholder>
            <div class="d-flex justify-center align-center fill-height ma-0">
              <v-progress-circular color="grey lighten-5" indeterminate></v-progress-circular>
            </div>
          </template>
        </v-img>
      </v-col>
    </v-row>
  </PageContainer>
</template>

<script setup>
  import HeaderComponent from "@/components/gameplan/HeaderComponent.vue";
  import PageContainer from "@/common/components/PageContainer.vue";
  import {reactive} from "vue";

  const images = reactive([
    {
      url: "group.jpg",
    },
    {
      url: "group2.jpg",
    },
    {
      url: "group3.jpg",
    },
    {
      url: "group4.jpg",
    },
  ]);
</script>
