<template>
  <PageContainer>
    <v-row>
      <v-col cols="8" class="d-flex justify-center align-center">
        <div class="text-h4 text-brown text-center">Come to play with Us!</div>
      </v-col>
      <v-col cols="4">
        <v-img src="/img/gamesPile.png"></v-img>
      </v-col>
    </v-row>
  </PageContainer>
</template>

<script setup>
  import PageContainer from "@/common/components/PageContainer.vue";
</script>
