<template>
  <PageContainer>
    <HeaderComponent store></HeaderComponent>
    <v-row class="pa-2">
      <v-col
        v-for="(product, key) in products"
        :key="key"
        class="pa-3"
        cols="6"
        lg="2"
        md="4"
        sm="6"
      >
        <v-hover v-slot="{isHovering, props}">
          <v-card v-bind="props" :elevation="isHovering ? 2 : 0" class="mx-auto bg-grey-lighten-4">
            <v-img cover :aspect-ratio="4.2 / 5" :src="`/img/games/${product.image}`" />
            <v-card-text class="position-relative">
              <v-btn
                size="small"
                color="amber"
                class="cart-btn"
                icon="mdi-cart"
                @click="addProduct(product)"
              />
              <h3 class="display-1 font-weight-light text-purple mb-2">
                {{ product.name }}
              </h3>
              <span>${{ product.price }} AED</span>
              <div class="font-weight-light mb-2">
                {{ product.description }}
              </div>
            </v-card-text>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
    <ShoppingCart></ShoppingCart>
  </PageContainer>
</template>

<script setup>
  import HeaderComponent from "@/components/gameplan/HeaderComponent.vue";
  import ShoppingCart from "@/components/gameplan/dialogs/ShoppingCart.vue";
  import PageContainer from "@/common/components/PageContainer.vue";
  import {reactive} from "vue";
  import {useShoppingStore} from "@/store";

  const {addProduct} = useShoppingStore();

  const products = reactive([
    {
      name: "Citadels",
      price: 35,
      id: "sdlñsdffsf",
      image: "citadels.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Avalon",
      price: 35,
      id: "sdlñsdfasgsdfsf",
      image: "avalon.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Deception",
      price: 35,
      id: "sdlñf455324sf",
      image: "deception.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Sequence",
      price: 35,
      id: "sdlñfsdfsdfsdfsdfsdffsf",
      image: "sequence.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Pandemic",
      price: 35,
      id: "sdlñfsdfsdfsdfsf",
      image: "pandemic.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Survive",
      price: 35,
      id: "23424",
      image: "survive.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
    {
      name: "Azul",
      price: 35,
      id: "56742344352345t6623575323254",
      image: "azul.jpg",
      description: "This is a dummy description about the game",
      quantity: 1,
    },
  ]);
</script>

<style scoped>
  .cart-btn {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translate(0, -50%);
  }

  .v-card h3.display-1 {
    font-size: 24px !important;
  }
</style>
